::ng-deep .p-confirm-popup {
    background: #ffffff;
    color: #495057;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0px 2px 8px -1px rgb(0 0 0 / 20%), 0px 18px 1px -33px rgb(0 0 0 / 14%), 0px 9px 2px -65px rgb(0 0 0 / 12%) !important;
}

::ng-deep .p-datatable .p-datatable-tbody>tr>td {
    text-align: center;
    border: 1px solid #e9ecef;
    border-width: 0 0 1px 0;
    padding: 1rem 1rem;
}

::ng-deep .p-datatable .p-datatable-thead>tr>th {
    text-align: center;
    padding: 1rem 1rem;
    border: 1px solid #e9ecef;
    border-width: 0 0 1px 0;
    font-weight: 600;
    color: #495057;
    background: #f8f9fa;
    transition: box-shadow 0.2s;
}