<body class="hold-transition sidebar-mini layout-navbar-fixed layout-fixed">
    <div class="wrapper">

        <app-topbar></app-topbar>

        <aside class="main-sidebar sidebar-dark-primary elevation-4">

            <app-sidebar></app-sidebar>

        </aside>


        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Country</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="/administrator">Admin</a></li>
                                <li class="breadcrumb-item active">Country Onboarding</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <section class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Search</label>

                                <div class="input-group my-colorpicker2 colorpicker-element">
                                    <input type="text" placeholder="Global Search" (input)="applyFilterGlobal($event, 'contains')" class="form-control" data-original-title="" title="">

                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-3">
                            <a href="country-onboarding/detail/add" class="btn btn-md btn-success mt-30">Add</a>
                        </div>

                        <div class="col-md-12">
                            <div class="card">

                                <div class="card-body p-0">
                                    <div class="table-responsive">

                                        <p-table [value]="dataSource" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" sortMode="multiple" paginatorPosition="bottom" [globalFilterFields]="['associateFullName','associateCountry']"
                                            #dt>
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th pSortableColumn="country_id">Country ID
                                                        <p-sortIcon field="country_id"></p-sortIcon>
                                                    </th>
                                                    <th pSortableColumn="country_name">Country Name
                                                        <p-sortIcon field="country_name"></p-sortIcon>
                                                    </th>
                                                    <th pSortableColumn="country_code">Country Code
                                                        <p-sortIcon field="country_code"></p-sortIcon>

                                                    </th>
                                                    <th></th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-respdata>
                                                <p-confirmPopup></p-confirmPopup>
                                                <tr [pSelectableRow]="respdata">
                                                    <td>{{respdata.country_id}}</td>
                                                    <td>{{respdata.country_name}}</td>
                                                    <td>
                                                        {{respdata.country_code}}
                                                    </td>
                                                    <td>
                                                        <a href='country-onboarding/detail/{{respdata.country_id}}/view' class="btn btn-sm btn-info float-right mr-2">View</a>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </section>
        </div>
        <footer class="main-footer">
            <strong>Copyright &copy; 2021-2022 <a href="#">Admin Panel Demo</a>.</strong> All rights reserved.

        </footer>

    </div>

</body>