<div class="wrapper">

    <app-topbar></app-topbar>
    <aside class="main-sidebar sidebar-dark-primary elevation-4">

        <app-sidebar></app-sidebar>
    </aside>

    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">

                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">client-support</a></li>
                            <li class="breadcrumb-item active">client management</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>Search</label>

                            <div class="input-group my-colorpicker2 colorpicker-element">
                                <input type="text" placeholder="Global Search" (input)="applyFilterGlobal($event, 'contains')" class="form-control" data-original-title="" title="">

                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-3">
                        <a href="client-dashboard/detail/add" class="btn btn-md btn-success mt-30">Add</a>
                    </div>

                    <div class="col-md-12">
                        <div class="card">

                            <div class="card-body p-0">
                                <div class="table-responsive">


                                    <p-table [value]="dataSource" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" sortMode="multiple" paginatorPosition="bottom" [globalFilterFields]="['clientFullName']" #dt>
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th pSortableColumn="clientFullName">Client Name
                                                    <p-sortIcon field="clientFullName"></p-sortIcon>
                                                </th>
                                                <th pSortableColumn="primemail">Email
                                                    <p-sortIcon field="primemail"></p-sortIcon>
                                                </th>

                                                <th pSortableColumn="primecontact">Contact
                                                    <p-sortIcon field="primecontact"></p-sortIcon>
                                                </th>


                                                <th pSortableColumn="status">Status
                                                    <p-sortIcon field="status"></p-sortIcon>

                                                </th>

                                                <th></th>



                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-respdata>
                                            <p-confirmPopup></p-confirmPopup>
                                            <tr [pSelectableRow]="respdata">
                                                <td>{{respdata.clientFullName}}</td>
                                                <td>{{respdata.primemail}}</td>
                                                <td>{{respdata.primecontact}}</td>
                                                <!-- <td>
                                                    <input type="checkbox" [checked]="respdata.isChecked" (change)="respdata.status = !respdata.status">
                                                </td> -->

                                                <td>{{respdata.isChecked}}</td>
                                                <td>
                                                    <a (click)="confirm($event,respdata.clientID)" class="btn btn-sm btn-danger float-right mr-2">Delete</a>

                                                    <!-- <a (click)="deleteClient(respdata.clientID)" class="btn btn-md btn-danger float-right">Delete</a> -->

                                                    <!-- <a href='/client-dashboard/detail/{{respdata.clientID}}/edit' class="btn btn-sm btn-warning float-right mr-2">Edit</a> -->


                                                    <a href='/client-dashboard/detail/{{respdata.clientID}}/view' class="btn btn-sm btn-info float-right mr-2">View</a>
                                                    <!-- 

                                                    <a *ngIf='respdata.clientStatus==true' class="btn btn-sm btn-success float-right mr-2 " style="cursor: default">Status</a>
                                                    <a *ngIf='respdata.clientStatus==false' class="btn btn-sm btn-danger float-right mr-2" style="cursor: default">Status</a> -->

                                                </td>





                                            </tr>
                                        </ng-template>
                                    </p-table>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </section>
    </div>
    <footer class="main-footer">
        <strong>Copyright &copy; 2021-2022 <a href="#">Admin Panel Demo</a>.</strong> All rights reserved.

    </footer>


</div>